mixin mymodal()
  - 
    var data = {
      text : {
        open : 'Открыть модалку',
        controller: 'Download Amigo!',
        close: 'X',
      }
      }
  .mymodal
    label.open-mymodal(for="mymodal-controller")= data.text.open
    .mymodal__popup
      input#mymodal-controller(type="checkbox")
      .mymodal__overlay
        label.mymodal__overlay-layer(for="mymodal-controller")
        .mymodal__controller
          h1=data.text.controller
          label(for="mymodal-controller").mymodal__close
            p=data.text.close