mixin tooltip()
  p
    |
    | Lorem ipsum dolor sit amet consectetur adipisicing 
    | elit. 
    span.mytooltip(data-tooltip="Это текст из тултипа") Accusantium
    |  voluptates molestiae, eius laudantium quis inventore 
    | quas eligendi! Quam, eveniet exercitationem?