$blue:        #4a90e2
$red:         #e04752
$teal:        #32a76f
$body-color:  #343a41
$body-bg:     #f5f5f6
$text-muted:  rgba($body-color, 0.3)
$black:       #000 
$dark:        #212121
$white:       #fff
// see bootstrap color replaces in ../config/plugins