header.stickyheader
  .container
    .row.align-items-center.justify-content-between
      .col-auto
        .logo
          .logo__img
            img.img-fluid(src="../img/logo.png", alt="Firestats")
      .col-auto
        .user.d-flex.align-items-center
          .user__name.mr-2
            | Max Hewman
          .user__avatar
            .user__img
              img.img-fluid(src="../img/user.png", alt="Max Hewman")